@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(#948E99, #2E1437);
}

.wrong{
   background: #FFEBEB;
   border-color: #FF4A4A;
}

.correct{
   background: #dffff2;
   border-color: #00d379;
}

/* to hide input arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
